<div class="container mt-5"<td class="py-5"></td><table class="table table-responsive table-bordered table-dark table-striped">
    <thead>
      <tr>
        <th class="text-center">Marca</th>
        <th class="text-center">Modelo</th>
        <th class="text-center">Precio</th>
        <th class="text-center">Imagen</th>
        <th class="text-center">Unidades Disponibles</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <td class="py-5">{{brand}}</td>
          <td class="py-5">{{model}}</td>
          <td class="py-5">${{price}}</td>
          <td><img style="max-width: 200px;" src="{{image}}" /></td>
          <td class="py-5">{{stock}} unidades</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>